.flexbody{
 display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-forection:row;
  align-items:center;
  justify-content:center;
  text-align:center;
  vertical-align:middle;
  background-color:#383838;
  
}
.flexmiddle {
flex-basis:0 0 1;
}
.flexsides {
   flex: 0 0 0;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   align-items:center;
   justify-content:center;
   text-align:center;
   vertical-align:middle;
   background-color:#3b3a3b;
  
}
