.flexbody{
 display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-forection:row;
  align-items:center;
  justify-content:center;
  text-align:center;
  vertical-align:middle;
  background-color:#383838;
  
}
.flexmiddle {
 width: 50%
}
.flexsides {
   width: 25%
}
